/* general setting */
* {
  margin: 0;
  box-sizing: border-box;
}
#container {
  width: 1200px;
  margin: 0 auto;
}
body {
  width: 80%;
  margin: 0 auto;
  background-image: url(../img/background-pagina.png);
  background-size: cover;
}

/* utilities clearfix */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* style per hedear */
.main-header {
  margin-bottom: 16px;
}
.hero {
  position: relative;
  height: 450px;
  background-image: url(../img/background-banner.jpeg);
  background-size: cover;
  margin-top: 30px;
  border: 10px solid #fff;

}
#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: auto;

}
#written {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  font-family: 'Montserrat';
  text-transform: uppercase;
  padding: 20px;
}

/* style navbar */
.main-navigation {
  height: 80px;
  background-color: #aaa;
  text-align: center;
  line-height: 80px;
}
#menu li {
  list-style: none;
  display: inline-block;
}
#main-menu li a {
  display: inline-block;
  padding: 0 15px;
  border-bottom: 3px solid transparent;
}

/* style for columns */
.col  {
  float: left;
  height: 300px;
}
.col-1 {
  width: 25%;
  background-color: rgba(255, 0, 0, 0.1);
  padding-right: 16px;
}
.col-2 {
  width: 50%;
  background-color: rgba(0, 255, 0, 0.1);
  padding: 0 16px;
}
.col-3 {
  width: 25%;
  background-color: rgba(0, 0, 255, 0.1);
  padding-left: 16px;
}

/* style box inside columns */
.box {
  width: 100%;
  background-color: #ccc;
  margin-bottom: 32px;
}

/* style footer */
.main-footer {
  text-align: center;
}
.footer-text {
  height: 40px;
  background-color: #aaa;
}
.socials {
  padding: 0;
}
.socials li {
  list-style: none;
  float: left;
  width: calc(100%/3);
  height: 80px;
  line-height: 80px;
}
