/* general setting */
* {
  margin: 0;
  box-sizing: border-box;
}
#container {
  width: 1200px;
  margin: 0 auto;
}
body {
  width: 80%;
  margin: 0 auto;
  background-image: url(../img/background-pagina.png);
  background-size: cover;
}

/* utilities clearfix */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* style per hedear */
.main-header {
  margin-bottom: 16px;
}
.hero {
  position: relative;
  height: 450px;
  background-image: url(../img/background-banner.jpeg);
  background-size: cover;
  margin-top: 30px;
  border: 10px solid #fff;
}
#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: auto;
}
#written {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  font-family: 'Montserrat';
  text-transform: uppercase;
  padding: 20px;
}

/* style navigation menu */
.main-navigation {
  height: 50px;
  background-color: #52945C;
  text-align: center;
  line-height: 50px;
  padding: 0 10px;
}
#menu {
  padding: 0 201px;
}
#menu li {
  list-style: none;
  display: inline-block;
}
#menu li a {
  display: inline-block;
  padding: 0 15px;
  border-bottom: 3px solid transparent;
  text-decoration: none;
  color: #fff;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 550;
}
#menu li a:hover {
  border-color: #1F7B2C;
}
/* style for columns main */
.col  {
  float: left;
}
.col-1 {
  width: 25%;
  padding-right: 16px;
}
.col-2 {
  width: 50%;
  padding: 0 16px;
}
.col-3 {
  width: 25%;
  padding-left: 16px;
}

/* style box inside columns */
.box {
  width: 100%;
  background-color: #fff;
  margin-bottom: 32px;
  border-radius: 10px;
  font-family: 'Roboto';
}

/* Style for link rss */
.title {
  color: #6B2C1B;
  font-size: 22px;
  display: inline-block;
  float: left;
  padding: 10px;
}
.box-title {
  position: relative;
}
.box-title i {
  display: inline-block;
  float: left;
  color: #CFA600;
  font-size: 25px;
  margin: 10px;
}
.link-rss {
  list-style: none;
  line-height: 20px;
}
.link li {
  list-style: none;
}
.link li a {
  display: inline-block;
  text-decoration: none;
  color: green;
  font-weight: bold;
  padding: 10px 0;
}
/* style central box */
.title-principal {
  text-transform: uppercase;
  color: #6B2C1B;
  padding: 10px;
  font-weight: 700;
}
.post-principal {
  padding: 10px;
  line-height: 35px;
}

/* style for Widgets */
.title-widget {
  color: #6B2C1B;
  padding: 10px;
}

/* style footer */
.main-footer {
  text-align: center;
  margin-bottom: 30px;
}
.footer-text {
  height: 25px;
  padding-top: 3px;
  font-family: 'Roboto';
  background-color: #fff;
  color: #aaa;
  border-bottom: 3px solid #aaa;
}
.socials {
  padding: 0;
  background-color: #fff;
}
.socials li {
  list-style: none;
  float: left;
  width: calc(100% / 3);
  height: 80px;
  line-height: 80px;
  font-size: 30px;
  color: #aaa;
}
